<h3 class="heading-report">Schedule Flights</h3>
<form [formGroup]="InventoryModel.formInventoryGroup">
    <div class="row align-items-center">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Flight Number<span style="color:red">*</span></label>
             
                    <input type="text" placeholder="Flight Number" formControlName="flightNumberControl"
                        [(ngModel)]="InventoryModel.flightNumber" class="form-control">
                    <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                        [hidden]="!(hasError('required','flightNumberControl'))">
                        Flight Number Required
                    </div>
                
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Airline Name <span style="color:red">*</span></label>
                <select [(ngModel)]="InventoryModel.airLineId"
                    formControlName="airLineIdControl" aria-placeholder="select Airline Name" class="form-control">
                    <option [value]="0">Select Airline</option>
                    <option *ngFor="let airline of AirlineDataModels" [ngValue]="airline.airlineId">{{airline.name}}</option>>
                </select>
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','airLineIdControl'))">
                    Airline Name Required
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">From Place : <span style="color:red">*</span></label>
                <input type="text" placeholder="From Place" formControlName="fromPlaceControl"
                    [(ngModel)]="InventoryModel.fromPlace" class="form-control">
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','fromPlaceControl'))">
                    From Place Required
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">To Place : <span style="color:red">*</span></label>
                <input type="text" placeholder="To Place" formControlName="toPlaceControl"
                    [(ngModel)]="InventoryModel.toPlace" class="form-control">
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','toPlaceControl'))">
                    To Place Required
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Start Date : <span style="color:red">*</span></label>
                <input type="date" placeholder="Start Date" formControlName="startDateControl"
                    [(ngModel)]="InventoryModel.startDate" class="form-control">
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','startDateControl'))">
                    Start Date Required
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">End Date  : <span style="color:red">*</span></label>
                <input type="date" placeholder="End Date " formControlName="endDateControl"
                    [(ngModel)]="InventoryModel.endDate" class="form-control">

                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','endDateControl'))">
                    End Date Required
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Start Time : <span style="color:red">*</span></label>
                <input type="text" placeholder="Start Time" formControlName="startTimeControl"
                    [(ngModel)]="InventoryModel.startTime" class="form-control">
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','startTimeControl'))">
                    Start Time Required
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">End Time : <span style="color:red">*</span></label>
                <input type="text" placeholder="End Time" formControlName="endTimeControl"
                    [(ngModel)]="InventoryModel.endTime" class="form-control">
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','endTimeControl'))">
                    End Time Required
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Schedule Days <span style="color:red">*</span></label>
                <select class="form-control" formControlName="scheduledDaysControl" (change)="changeSchedule($event)"
                    [(ngModel)]="InventoryModel.scheduledDays" aria-placeholder="select Schedule Days">
                    <option [value]="0">Select</option>  
                    <option [value]="1">Sunday</option>
                    <option [value]="2">Monday</option>
                    <option [value]="3">Tuesday</option>
                    <option [value]="4">Wednesday</option>
                    <option [value]="5">Thursday</option>
                    <option [value]="6">Friday</option>
                    <option [value]="7">Saturday</option>
                    <option [value]="8">Daily</option>
                </select>
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','scheduledDaysControl'))">
                    Schedule Days Required
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Instrument : <span style="color:red">*</span></label>
                <input type="text" placeholder="Instrument" formControlName="instrumentControl"
                    [(ngModel)]="InventoryModel.instrument" class="form-control">
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','instrumentControl'))">
                    Instrument Required
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Business class Seat Count : <span style="color:red">*</span></label>
                <input type="number" [(ngModel)]="InventoryModel.bClassCount" formControlName="bClassCountControl"
                    placeholder="Business class Seat Count " class="form-control">
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','bClassCountControl'))">
                    Business class Seat Count required
                </div>
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('pattern','bClassCountControl'))">
                    Business class Seat value must be >0
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Normal class Seat Count : <span style="color:red">*</span></label>
                <input type="number" placeholder="Normal class Seat Count" formControlName="nbClassCountControl"
                    [(ngModel)]="InventoryModel.nbClassCount" class="form-control">
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','nbClassCountControl'))">
                    Normal class Seat Count required
                </div>
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('pattern','nbClassCountControl'))">
                    Normal class Seat value must be >0
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Ticket Cost : <span style="color:red">*</span></label>
                <input type="number" placeholder="Ticket Cost" formControlName="ticketCostControl"
                    [(ngModel)]="InventoryModel.ticketCost" class="form-control">
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','ticketCostControl'))">
                    Ticket Cost required
                </div>
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('pattern','ticketCostControl'))">
                    Ticket Cost correct formate value must be >0
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Discount % : <span style="color:red">*</span></label>
                <input type="number" placeholder="Discount" formControlName="discountControl"
                    [(ngModel)]="InventoryModel.discount" class="form-control">
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','discountControl'))">
                    Ticket Cost required
                </div>
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('pattern','discountControl'))">
                    Ticket Discount correct formate value must be >0
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Add Coupon : <span style="color:red">*</span></label>
                <input type="string" placeholder="Coupon" formControlName="ticketCouponControl"
                    [(ngModel)]="InventoryModel.ticketCoopun" class="form-control">
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','ticketCouponControl'))">
                    Coupon required
                </div>
               
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">No of Rows : <span style="color:red">*</span></label>
                <input type="number" [(ngModel)]="InventoryModel.rows" formControlName="rowsControl"
                    placeholder="No of Rows" class="form-control">
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('pattern','rowsControl'))">
                    Rows Not correct formate value must be >0
                </div>
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','rowsControl'))">
                    Rows required
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Meal Type <span style="color:red">*</span></label>
                <select [(ngModel)]="InventoryModel.meal" formControlName="mealControl" (change)="changemeal($event)"
                    class="form-control" placeholder="select Meal Type" >
                    <option [value]="0">select</option>
                    <option [value]="1">None</option>
                    <option [value]="2">Non-Veg</option>
                    <option [value]="3">Veg</option>
                </select>
                <div style="color:red;" *ngIf="InventoryModel.formInventoryGroup.dirty"
                    [hidden]="!(hasError('required','mealControl'))">
                    Meal Type Required
                </div>
            </div>

        </div>

        <div class="col-md-12" style="text-align: center;">

            <input type="submit" *ngIf="submit==true" [disabled]="!(InventoryModel.formInventoryGroup.valid)" value="Submit"
                (click)="PostInventoryDetails()" class="btn btn-danger">
                <input type="submit" *ngIf="edited==true" (click)="EditPostInventoryDetails()" [disabled]="!(InventoryModel.formInventoryGroup.valid)" value="Update"
                class="btn btn-danger" style="margin-right:10px;">
                <input type="submit" *ngIf="cancel==true" (click)="CancelEdit()"  value="Cancel Edit"
                class="btn btn-danger">
        </div>
    </div>
</form>
<br>
<div class="row">
    <div class="col-md-12" style="overflow: scroll;">
        <table id="example" class="table table-bordered table-stripped" style="width: 100%;">
            <thead>
                <tr>
                    <td>Flight Number</td>
                   
                    <td>AirLine Name</td>
                    <td>From Place</td>
                    <td>To Place</td>
                    <td>Start_Date</td>
                    <td>End_Date</td>
                    <td>start Time</td>
                    <td>End Time</td>
                    <!-- <td>Scheduled Days</td> -->
                    <td>Instrument</td>
                   <td>Bussiness Class Count</td>
                   <td>Bussiness class Avail Count</td>
                   <td>NON Bussiness Class Count</td>
                   <td>Non Bussiness class Available Count</td>
                   <td>Ticket Cost</td>
                   <td> Discount</td>
                   <td>Ticket Coupon</td>
                   <td>Rows</td>
                   <td>Meal</td>
                   <td>action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cust of Inventorys">
                    <td>{{cust.flightNumber}}</td>
                    <td>{{cust.name}}</td>
                    <td>{{cust.fromPlace}}</td>   
                    
                    <td>{{cust.toPlace}}</td>
                    <td>{{cust.startDate}}</td>
                    <td>{{cust.endDate}}</td>   

                    <td>{{cust.startTime}}</td>
                    <td>{{cust.endTime}}</td>
                    <!-- <td>{{cust.scheduledDays}}</td>    -->

                    <td>{{cust.instrument}}</td>
                    <td>{{cust.bClassCount}}</td>
                    <td>{{cust.bclassAvailCount}}</td>   

                    <td>{{cust.nbClassCount}}</td>
                    <td>{{cust.nBclassAvailableCount}}</td>
                    <td>{{cust.ticketCost}}</td> 
                    <td>{{cust.discount}}</td> 
                    <td>{{cust.ticketCoopun}}</td>  

                    <td>{{cust.rows}}</td>
                    <td>{{cust.meal}}</td> 
                    <td>
                        
                        <!-- <input type="button" value="Edit" (click)="EditInventory(cust)" class="btn btn-success"  style="margin-right:10px; margin-bottom:10px;" /> -->
                        <input type="button" value="Cancel" class="btn btn-danger" (click)="DeleteInventory(cust)" />
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>