<div class="row">
    <div class="col-sm-12">

        <div class="pricingTable">
            <div class="pricingTable-header" style="    margin-top: 60px;">
                <div class="price-value">
                    <span class="amount">LOGIN</span>

                </div>
            </div>
            <form [formGroup]="loginUserData.formloginGroup">
            <div class="op-body">
                <div class="form-group">
                    <input type="text" [(ngModel)]="loginUserData.email" formControlName="emailControl" email placeholder="User Name" class="form-control">
                    <div style="color:red;" *ngIf="loginUserData.formloginGroup.dirty"
                    [hidden]="!(hasError('required','emailControl'))">
                    User Name Required
                </div>
                <div style="color:red;" *ngIf="loginUserData.formloginGroup.dirty"
                [hidden]="!(hasError('pattern','emailControl'))">
                User Name not in correct formate
            </div>
                </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="loginUserData.password"  formControlName="passwordControl" class="form-control"
                        id="exampleInputPassword1" placeholder="Password">
                        <div style="color:red;" *ngIf="loginUserData.formloginGroup.dirty"
                        [hidden]="!(hasError('required','passwordControl'))">
                        Password Required
                    </div>
                </div>
                <input type="Submit" class="btn btn-danger" [disabled]="!(loginUserData.formloginGroup.valid)" (click)="loginUser()" value="Submit">
            </div>
        </form>
        <div class="col-md-12" style="text-align: center;">

            <span style="font-weight:bold; color:green">{{satus}}</span>
        </div>

        </div>


    </div>




</div>