<h3 class="heading-report">Search Flights</h3>
<!-- -->
<form [formGroup]="flightmodel.formCustomerGroup">
    <div class="row align-items-center">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Date Of Journey : <span style="color:red">*</span></label>
                <div class="input-group">
                    <!--  -->
                    <input type="date" placeholder="Date Of Journey" formControlName="dateofJourneyControl"
                        [(ngModel)]="flightmodel.fromDate" class="form-control">

                </div>
                <br> <span style="color:red;" *ngIf="flightmodel.formCustomerGroup.dirty"
                    [hidden]="!(hasError('pattern','dateofJourneyControl'))"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <!-- -->
                <label class="form-label">From Place : <span style="color:red">*</span></label>
                <input type="text" placeholder="From Place" formControlName="fromplaceControl"
                    [(ngModel)]="flightmodel.fromPlace" class="form-control">

            </div>
            <br> <span style="color:red;" *ngIf="flightmodel.formCustomerGroup.dirty"
                [hidden]="!(hasError('pattern','fromplaceControl'))"></span>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <!--  -->
                <label class="form-label">To Place : <span style="color:red">*</span></label>
                <input type="text" placeholder="To Place" formControlName="toplaceControl"
                    [(ngModel)]="flightmodel.toplace" class="form-control">
            </div>
            <br> <span style="color:red;" *ngIf="flightmodel.formCustomerGroup.dirty"
                [hidden]="!(hasError('pattern','toplaceControl'))"></span>
        </div>
        <div class="col-md-12" style="text-align: center;">
            <input type="submit" value="Search Flights" [disabled]="!(flightmodel.formCustomerGroup.valid)"
                (click)="GetFromServer()" class="btn btn-danger">
        </div>
    </div>
</form>

<div class="container" style="margin-top: 20px;">
    <div class="row" *ngFor="let flight of flights">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <div class="card text-center">
                <div class="card-header" style="background: linear-gradient(to right, #6270be ,#6270be);">
                    <h5 class="card-title" style="color: white;"> Airline Name: {{flight.name}} </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3" style="background: linear-gradient(to right, #7d8ad3, #99a6f3); color: white; ">From Place:</div>
                        <div class="col-md-3" style="font-weight:bold">{{flight.fromPlace}}</div>
                        <div class="col-md-3" style="background: linear-gradient(to right, #7d8ad3, #99a6f3); color: white;  ">To Place:</div>
                        <div class="col-md-3" style="font-weight:bold"> {{flight.toPlace}}</div>
                        <div class="col-md-3" style="background: linear-gradient(to right, #7d8ad3, #99a6f3); color: white; ">State Date</div>
                        <div class="col-md-3" style="font-weight:bold">{{flight.startDate|date:'mediumDate' }}</div>
                        <div class="col-md-3" style="background: linear-gradient(to right, #7d8ad3, #99a6f3);color: white;  ">End Date:</div>
                        <div class="col-md-3" style="font-weight:bold"> {{flight.startDate|date:'mediumDate'}}</div>
                        <div class="col-md-3" style="background: linear-gradient(to right, #7d8ad3, #99a6f3); color: white;  ">Start Time</div>
                        <div class="col-md-3" style="font-weight:bold">{{flight.startTime}}</div>
                        <div class="col-md-3" style="background: linear-gradient(to right, #7d8ad3, #99a6f3); color: white; ">Journey Time:</div>
                        <div class="col-md-3" style="font-weight:bold"> 2 Hours</div>
                        <div class="col-md-6" style="background: linear-gradient(to right, #7d8ad3, #99a6f3);color: white;  ">Business Class Sets Available</div>
                        <div class="col-md-6" style="font-weight:bold">{{flight.bclassAvailCount}}</div>
                        <div class="col-md-6" style="background: linear-gradient(to right, #7d8ad3, #99a6f3); color: white; ">Normal Class Sets Available</div>
                        <div class="col-md-6" style="font-weight:bold"> {{flight.nBclassAvailableCount}}</div>
                        <div class="col-md-6" style="background: linear-gradient(to right, #7d8ad3, #99a6f3);color: white;  ">Ticket Cost</div>
                        <div class="col-md-6" style="font-weight:bold"> {{flight.ticketCost}}</div>
                        <div class="col-md-6" style=" display: none"> {{flight.ticketCoopun}}</div>
                        <div class="col-md-6" style=" display: none"> {{flight.discount}}</div>
                    </div>                
                </div>
                <div class="card-footer" style="background: linear-gradient(to right, #6270be,#6270be);">
                    <input type="button" value="Book Ticket" class="btn btn-danger" (click)="Bookflight(flight)" />
                </div>
            </div>


        </div>
        <div class="col-md-1"></div>
    </div>
</div>