<h3 class="heading-report">Booking Flights</h3>
<br>
<h3 class="heading-report">Flight Details</h3>
<!-- <form [formGroup]="InventoryModel.formInventoryGroup"> -->
<div class="row align-items-center">
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">Flight Number<span style="color:red">*</span></label>
            <input type="text" placeholder="Flight Number" readonly [(ngModel)]="bookflightDataModel.flightNumber"
                class="form-control">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">Date Of Journey : <span style="color:red">*</span></label>
            <input type="text" placeholder="Date Of Journey" readonly [(ngModel)]="bookflightDataModel.dateOfJourney"
                class="form-control">

        </div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">From Place : <span style="color:red">*</span></label>
            <input type="text" placeholder="From Place" readonly [(ngModel)]="bookflightDataModel.fromPlace"
                class="form-control">

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">To Place : <span style="color:red">*</span></label>
            <input type="text" placeholder="To Place" readonly [(ngModel)]="bookflightDataModel.toPlace" class="form-control">

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">Boarding Time : <span style="color:red">*</span></label>
            <input type="text" placeholder="Boarding Time" readonly [(ngModel)]="bookflightDataModel.boardingTime"
                class="form-control">

        </div>

    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">Email ID: <span style="color:red">*</span></label>
            <input type="text" placeholder="Email ID" readonly [(ngModel)]="bookflightDataModel.emailID"
                class="form-control">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">Seat type <span style="color:red">*</span></label>
            <select class="form-control" [(ngModel)]="bookflightDataModel.seattype"
                 placeholder="select Meal Type">
                <option [value]="0">select</option>
                <option [value]="1">Business class</option>
                <option [value]="2">Normal class</option>
            </select>
        </div>
    </div>
   
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">Ticket Cost: <span style="color:red">*</span></label>
            <input type="text" placeholder="Ticket Cost" readonly [(ngModel)]="bookflightDataModel.ticketCost"
                class="form-control">
        </div>
    </div>
    <div  >
</div>
<br>
<h3 class="heading-report">Passenger Details
</h3>
<form [formGroup]="bookflightDataModel.formbookingGroup">
    <div class="row align-items-center">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Name Of Passenger<span style="color:red">*</span></label>

                <input type="text" [(ngModel)]="usersDateaModel.userName" formControlName="userNameControl" 
                    placeholder="Name Of Passenger" class="form-control">
                <div style="color:red;" *ngIf="bookflightDataModel.formbookingGroup.dirty"
                    [hidden]="!(hasError('required','userNameControl'))">
                    Name Of Passenger Required
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Pass Port Number : <span style="color:red">*</span></label>
                <input type="text" placeholder="Pass Port Number " formControlName="passportNumberControl" 
                    [(ngModel)]="usersDateaModel.passportNumber" class="form-control">
                <div style="color:red;" *ngIf="bookflightDataModel.formbookingGroup.dirty"
                    [hidden]="!(hasError('required','passportNumberControl'))">
                    Pass Port Number Required
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Age: <span style="color:red">*</span></label>
                <input type="text" placeholder="Age" formControlName="agetControl"
                    [(ngModel)]="usersDateaModel.age" class="form-control">
                <div style="color:red;" *ngIf="bookflightDataModel.formbookingGroup.dirty"
                    [hidden]="!(hasError('required','agetControl'))">
                    Age Required
                </div>
                <div style="color:red;" *ngIf="bookflightDataModel.formbookingGroup.dirty"
                    [hidden]="!(hasError('pattern','agetControl'))">
                    Age is Not correct formate
                </div>
            </div>
        </div>
       
    </div>
</form>
<div class="row">
    <div class="col-md-12" style="text-align: center;">

        <input type="submit" value="Add Passenger"  [disabled]="!(bookflightDataModel.formbookingGroup.valid)" (click)="AddPassenger()" class="btn btn-danger">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <table id="example" class="table table-bordered table-stripped" style="width: 100%;">
            <thead>
                <tr>
                    <td>Name</td>              
                    <td>Pass Port Number</td>
                    <td>Age</td>
                   <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cust of passengerArray">
                    <td>{{cust.userName}}</td>
                    <td>{{cust.passportNumber}}</td>
                    <td>{{cust.age}}</td>  
                    <td><input type="button" value="Delete" class="btn btn-danger" (click)="DeleteCustomer(cust)" /></td>            
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <!-- <label class="form-label">Add Coupon : </label> -->
            <input type="text"  #CouponID placeholder="Add Coupon "   class="form-control">
        </div>
    </div>
    <div class="col-md-4" >

        <input type="submit" value="Add Coupon"   (click)="AddCoupon(CouponID.value)" class="btn btn-danger">
    </div>
    <div class="col-md-4" style="text-align: center;">

        <input type="submit" value="Book Ticket" (click)="PostBookingDetails()" class="btn btn-success">
    </div>
</div>

